{% extends 'base_acc.html' %}
{% load static %}


{% block content %}
<style>

body {
  background-color:#2335A4;
}

html {
    overflow-x: hidden;
}

#title {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#title h3 {
    font-size: 4em;
    font-weight: bold;
    color: #FEED19;
}

.card{
  background-color:#00BD75;
  border-radius: 20px;
}

table, th, td {
  background-color: #00BD75;
  color: #FEED19;
}

.form-control {
    border-radius: 20px;
}

.btn{
    border-radius: 20px;
    background-color:#FEED19;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif; 
    font-weight: 600;
    border-color: #FEED19;
}
input:active{
    background:#FF5D37;
    border-color: #FF5D37;
}

</style>

<section id="title" class="text-center section">
  <h3>Book Catalogue</h3>
</section>

<section id="form" class="text-center container">
  <div style="margin:4vw;">
      <div class="form-inline justify-content-center ">
          <input id="search" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="cari buku apa ya ????"
          aria-label="Search" style="padding:1.5vw">
          <input class="btn active" id="searchButton" type="submit" value="search" style="margin-left: 15px;">
      </div>
  </div>

</section>


<section id="catalogue-section" class="text-center container">
    <div class="card shadow mb-5" style="margin:5vw;">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Book</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Book ID</th>
                </tr>
              </thead>
              <tbody id="table-body">
                
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
    
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  const bookCatalogue = () => {
    let query = $('#search').val()
    console.log(query);
    $('#table-body').empty()

    $.ajax({
      method: 'GET',
      url: '/getData?key=' + query +'/',
      success: function(response) {
        for (i = 0; i < response.items.length; i++) {  
          let dataImage = ''
          try {
            dataImage = '<th ><img height="150px" width="100px" src="' + response.items[i].volumeInfo.imageLinks.smallThumbnail + '"></img></th>'
          }
          catch (TypeError) {
            dataImage = '<th ><p> image not available </p> </th>'
          }

          let dataTitle = '<td class="title-col"><p>' + response.items[i].volumeInfo.title + '</p></td>'
          let dataAuthor = '<td><p>' + response.items[i].volumeInfo.authors + '</p></td>'
          let dataId= '<td class="id-col"><p style = font-weight: 600; color:#E84F3F; ><a target="_blank" href="https://books.google.com/ebooks?id=' + response.items[i].id +  '">' + response.items[i].id + + '</a></p></td>'

          $('#table-body').append(
              '<tr>' + dataImage + dataTitle + dataAuthor + dataId + '</tr>'
          )
      }

        }
    })
  }

$('#searchButton').click(bookCatalogue)

</script>

{% endblock %}

