{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <form method="POST" action="data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-success">
    </form>   

</div>

{% endblock %}