@charset "utf-8";

body{
    padding: 0px;
    margin: 0px ;
    background-color: #FFFFFF;
    position: relative;
}

.logo img{
  width:60px;
  height: 60px;
  position: absolute;
  margin-top: 20px;
  margin-left: 80px;
  float: left;
}
#main{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

nav{
  float: right;
  width: 100%;
  padding: 30px 50px;
  background-color: white;
}

.name{
  font-family: Chivo;
  width: 700px;
  position: absolute;
  text-align: left;
  left: 8%;
  top: 250px;
}

.name p:nth-child(1),
.name .details{
    color: #28479A;
    font-size: 30px;
    line-height: 40px;
}
.name h1{
    font-family: GT america;
    font-size: 60px;
    margin: 0px;
    letter-spacing: 2px;
    color: #E84F3F; 
}

#profile{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color:#E84F3F;
}

.education{
  width: 1000px;
  position: absolute;
  text-align: left;
  left: 8%;
  top:900px;
}

.education h1{
  font-family: GT america;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 2px;
  color:#28479A; 
}

.education p:nth-child(1),
.education .edu-details{
  font-family: Chivo;
  color: white;
  font-size: 30px;
  line-height: 43px;
}

.interest{
  width: 1000px;
  position: absolute;
  text-align: left;
  left: 8%;
  top:1200px;
}

.interest h1{
  font-family: GT america;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 2px;
  color:#28479A; 
}

.interest p:nth-child(1),
.interest .int-details{
  font-family: Chivo;
  color: white;
  font-size: 30px;
  line-height: 43px;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before
{
  content: '\263A';
  margin: 0 1em; 
  color:#28479A; 
}
