@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body{
  width: 100%; 
  padding: 0px;
  margin: 0px ;
  background-color: #FFFFFF;
  position: relative;
  overflow: auto;
}

#home{
  width: 100%;
  height: auto;
  min-height: 850px;
  box-sizing: border-box;
  background-color: white;
  padding: 100px;
}

.navbar-brand{
  margin-left: 60px;
}

.nav-link h3{
  font-family: 'Maison neue';
  font-size: 30px; 
  letter-spacing: 1px;
                             
}

.uc img{
  width:800px;
  height: 700px;
  position: absolute;
  margin-top: 180px;
  margin-left: 300px;
  float: center;
}

.about p{
  color: #FFFFFF;
}

.column{
  padding: 1.7rem;
  vertical-align: middle;
}


#main{
  width: 100%;
  height: auto;
  min-height: 850px;
  box-sizing: border-box;
  background-color: #28479A ;
  padding: 100px;
  overflow-x:hidden;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before{
  content: '\263A'; 
  margin: 0 0.5em; 
  color: #FEED19; 
  font-size: 40px;
}


.education p:nth-child(1),
.education .edu-details{
  font-family: Chivo;
  color:  #E84F3F;
  font-size: 33px;
  line-height: 60px;
}

.interest{
  width: 900px;
  position: absolute;
  text-align: left;
  left: 8%;
  top:400px;
}

.interest h1{
  font-family: GT america;
  font-size: 36px;
  margin: 0px;
  letter-spacing: 2px;
  color:white; 
}

.interest p:nth-child(1),
.interest .int-details{
  font-family: Chivo;
  color: #E84F3F;
  font-size: 33px;
  line-height: 65px;
}

.skill{
  width: 900px;
  position: absolute;
  text-align: left;
  left: 8%;
  top: 850px;
}

.skill h1{
  font-family: GT america;
  font-size: 36px;
  margin: 0px;
  letter-spacing: 2px;
  color: white; 
}

.skill p:nth-child(1),
.skill h7{
  font-family: Chivo;
  color:  #E84F3F;
  font-size: 33px;
  line-height: 70px;
}

ul {
  list-style: none;
  padding: 0px;
}

ul li:before{
  content: '\263A';
  margin: 0 1em; 
  color: white; 
  font-size: 40px;
}

#contact{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #28479A;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: absolute;
  text-align: center;
}


.contact-btn h7{
  color: #E84F3F;
  font-size: 27px;
  line-height: 40px;
  font-family: GT america;
  letter-spacing: 1px;
  top: 500px;
  left: 21%;  
}

.last{
  font-family: Chivo;
  width: 300px;
  position: absolute;
  text-align: left;
  left: 75%;
  top: 1070px;
}

.last h6{
  font-family: GT america;
  font-size: 22px;
  margin: 0px;
  letter-spacing: 2px;
  color: #FEED19; 
}

.btn btn-outline-warning  active{
  margin-top: 700px;
}




