{% extends 'base_acc.html' %}
{% load static %}


{% block content %}
<style>

body {
    background-color:#2335A4;
}

html {
    overflow-x: hidden;
}

#title {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#title h3 {
    font-size: 4em;
    font-weight: bold;
    color: #E84F3F;

}

#accordion-section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main-card {
    background-color: #00BD75;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.main-card h2 {
    font-size: 20px;
    font-family: 'Varela Round', sans-serif; 
    font-weight: 600;
}

.main-card:hover {
    filter: opacity(80%);
}

.accordion .sub-card {
    overflow: hidden;
    display: none;
    height: 0%;
}

.accordion .sub-card.active {
    display: block;
    transition: height 0.3s ease;
    height: 100%;
}

#sub-card-4 p a {
    text-decoration: underline;
}

.arrow-icons {
    font-size: 20px;
    color: yellow;
}


</style>

<section id="title" class="text-center">
    <h3>The More You Know</h3>
</section>

<section id="accordion-section" class=".accordion-wrapper text-center pr-5 pl-5">

    <div id="accordion-1" class="accordion my-4">
        <div id="main-card-1" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto text-center" style = "color: black;font-family: 'Varela Round', sans-serif; font-weight: 700; letter-spacing: 1.5px;">Aktivitas saat ini</h2>
            <div class="arrow-icons">
                <a class="button-up">↑</a>
                <a class="button-down">↓</a>
            </div>
        </div>
        <div id="sub-card-1" class="active sub-card px-5">
            <p style="font-size: 1.4em; font-weight: 300; color: #FEED19;">nonton drakor youtube nugass tidur repeat hahhaha</p>
        </div>
    </div>



    <div id="accordion-2" class="accordion my-4">
        <div id="main-card-2" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto" style = "color: black;font-family: 'Varela Round', sans-serif; font-weight: 700; letter-spacing: 1.5px;">Pengalaman organisasi / kepanitiaan</h2>
            <div class="arrow-icons">
                <a class="button-up">↑</a>
                <a class="button-down">↓</a>
            </div>
        </div>
        <div id="sub-card-2" class="sub-card px-5">
            <p style="font-size: 1.4em; font-weight: 300; color: #FEED19;">pemira perak compfest bem</p>
        </div>
    </div>



    <div id="accordion-3" class="accordion my-4">
        <div id="main-card-3" class="main-card d-flex py-1 pt-2 px-4">
            <h2 class="d-inline-block mr-auto" style = "color: black;font-family: 'Varela Round', sans-serif; font-weight: 700; letter-spacing: 1.5px;">prestasi</h2>
            <div class="arrow-icons">
                <a class="button-up">↑</a>
                <a class="button-down">↓</a>
            </div>
        </div>
        <div id="sub-card-3" class="sub-card px-5" >
            <p style="font-size: 1.4em; font-weight: 300; color: #FEED19;">gak ada :(((((((</p>
        </div>
    </div>

</section>
<script>

   $('.main-card').click(function() {
    var accordion = $(this).parent();
    var sub_card = accordion.find('.sub-card')

    if (accordion.siblings().find('.sub-card')) {
        sub_card.addClass('active');

    } 
    if (accordion.siblings().find('.sub-card').hasClass('active')) {
        accordion.siblings().find('.sub-card').removeClass('active')
        accordion.siblings().find('.sub-card').slideUp(500);
    }

})

$('.button-up').click(function() {
    var accordion = $(this).parent().parent().parent();
    
    if (!accordion.is(':first-child')) {
        accordion.insertBefore(accordion.prev());
    } else {
        accordion.each(accordion.next(), insertBefore(accordion));
    }
})

$('.button-down').click(function() {
    var accordion = $(this).parent().parent().parent();
    
    if (!accordion.is(':last-child')) {
        accordion.insertAfter(accordion.next());
    } else {
        accordion.each(accordion.next(), insertAfter(accordion));
    }
})

</script>
{% endblock %}
