{% extends 'base_template.html' %}
{% load static %}
{% block content %}


<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-12" method="POST" action="data" style="margin-top: 150px;">
      {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Submit" class="btn btn-success">
    </form>   
  </div>
  
</div>

{% endblock %}