{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    {% if stud %}
    <table class="table" style="margin-top: 150px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">Jumlah SKS</th>
            <th scope="col">Semester</th>
            <th scope="col">Ruang kelas</th>
            <th scope="col">Deskripsi</th>
          </tr>
        </thead>
        <tbody>
          {% csrf_token %}
          {% for st in stud %}
            <tr>
              <th scope="row"><a href="{{ st.id }}">{{st.matkul}}</a></th>
              <td >{{st.dosen}}</td>
              <td >{{st.sks}}</td>
              <td >{{st.semester}}</td>
              <td >{{st.ruang}}</td>
              <td >{{st.desc}}</td>
              <td>
                <form action="" method="POST" class="d-inline">
                  {% csrf_token %}
                  <input name="id" value="{{st.id}}" type="hidden">
                  <button type="submit" value="Submit" class="btn btn-primary">Delete</button>
                </form>

                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h4 class = "text-center alert alert warning">No Records</h4>
    {% endif %}
  </div>
  </div>
{% endblock %}
