{% extends 'base_template.html' %}
{% load static %}

{% block content %}

<div class="main">
  <div class="row h-100 justify-content-center align-items-center">
  <h3 style="margin-top:20px; align-items: center;"> Matkul : {{ std.matkul }} </h3>
</div>
  <div class="row h-100 justify-content-center align-items-center">
  
  <table class="table " style="width:50vw; margin-top: 30px;">
    <tbody>
        <tr>
            <td> Dosen </td>
            <td> {{ st.dosen }} </td>
        </tr>

        <tr>
            <td> Jumlah SKS </td>
            <td> {{ st.sks }} </td>
        </tr>

        <tr>
          <td> Semester </td>
          <td> {{ st.semester }} </td>
      </tr>

        <tr>
          <td> Ruang Kelas </td>
          <td> {{ st.ruang }} </td>
      </tr>

      <tr>
        <td> Deskripsi </td>
        <td> {{ st.desc }} </td>
    </tr>

    </tbody>
</table>
</div>


  {% endblock content %}
