{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <section id="home">
        <div class="main" class="col-lg-12">
            <a hresf = "#"><img src="{% static 'image/hello.png' %}"alt="My Image" class="img-responsive center-block d-block mx-auto" style=" width:540px; height: 480px;"></a>
        </div>
    </section>

    <section id="main" style=" width: 100%; height: auto; min-height: 850px; box-sizing: border-box; background-color: #28479A ; padding: 100px; overflow-x:hidden;">
        <div class="row">
            <div class="col-md">
            <div class="col-lg-6">
              <h1 class= "font-weight-bold title2" style="margin-top: 80px; margin-left: 60px; font-family: 'Varela Round', sans-serif; color: #E84F3F; font-size: 40px;">About me.</h1>
            <div class="col-lg-11">
              <div class="about" style="color: white;"><p class="lead" style="margin-left: 60px; font-size: 26px; font-family: 'Varela Round', sans-serif;">My name is Raissa Naila Thahira. My student id is 1906400236. I'm a second year Computer Science student at University of Indonesia.</p></div>
            <h1 class= "font-weight-bold title2" style=" margin-left: 40px; margin-top: 50px; font-family: 'Varela Round', sans-serif; color: #E84F3F; font-size: 40px;">Education</h1>
            <ul>
                <li style="margin-left: 60px; font-size: 26px; font-family: 'Varela Round', sans-serif; color: white; letter-spacing: 1px;">Universitas Indonesia <br> 2019 - Present</br></li>
                <li style="margin-left: 60px; font-size: 26px; font-family: 'Varela Round', sans-serif; color: white; letter-spacing: 0.5px;">SMA Negeri 1 Pontianak <br> 2016 - 2019</br></li>
            </ul>
            </div>
            </div>
            </div>
        </div>
    </section>
    {% endblock %}

