{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #ffff;
    }
    .card:hover {
      box-shadow: 0 8px 16px 0 #28479A;
  }

  </style>

    <section id="story-card" style=" width: 100%; height: auto; box-sizing: border-box; padding: 100px; overflow-x:hidden;">
    <div class="row">
        <div class="col-md">
        <div class="col-lg-6">
        <div class="card" style="width: 25rem;">
            <img class="card-img-top" src="{% static 'image/story1-1.svg' %}" alt="Card image cap">
            <div class="card-body">
            <a href="{% url 'storynyaraissa:story1' %}" class="btn btn-outline-danger" style="background-color:white; font-family: 'Varela Round', sans-serif; color: #E84F3F; font-size: 20px; outline-color: #E84F3F;">Find out more!</a>
            </div>
        </div>
        </div>
        </div>

        <div class="col-md">
          <div class="col-lg-6">
          <div class="card" style="width: 25rem;">
              <img class="card-img-top" src="{% static 'image/story7.svg' %}" alt="Card image cap">
              <div class="card-body">
              <a href="{% url 'story7:accord' %}" class="btn btn-outline-danger" style="background-color:white; font-family: 'Varela Round', sans-serif; color: #E84F3F; font-size: 20px; outline-color: #E84F3F;">Find out more!</a>
              </div>
          </div>
          </div>
          </div>

    </div>
    </section>

    <section id="story-card" style=" width: 100%; height: auto; box-sizing: border-box; padding: 100px; overflow-x:hidden;">
    <div class="row">
    <div class="col-md">
      <div class="col-lg-6">
      <div class="card" style="width: 25rem;">
          <img class="card-img-top" src="{% static 'image/story8.svg' %}" alt="Card image cap">
          <div class="card-body">
          <a href="{% url 'story8:book' %}" class="btn btn-outline-danger" style="background-color:white; font-family: 'Varela Round', sans-serif; color: #E84F3F; font-size: 20px; outline-color: #E84F3F;">Find out more!</a>
          </div>
      </div>
      </div>
      </div>
    </div>
  </section>
{% endblock %}


