{% extends 'base_acc.html' %}
{% load static %}
{% block content %}
<style>
body {
  background-color:white;
}

html {
    overflow-x: hidden;
}

#title {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#title h3 {
    font-size:6em;
    font-weight: 800;
    color: #2335A4;
}

.login-section{
    width: 450px;
    padding: 3% 0 0;
    margin: auto;
}

.login-form input{
    font-family: 'Varela Round', sans-serif; 
    outline: none;
    width: 80%;
    border: none;
    font-size: 14px;
    background:#f2f2f2;
    padding: 30px;
    margin: 30px 30px 30px;
    text-align: center;

}

.messages{
    font-size: 10px;
    text-align: center;
    color: #2335A4;
}



</style>

  {% if user.is_authenticated %}
    <section id="login" class="text-center section">
      <h3>yeayy dah masukkk :)))</h3>
      <p>mau keluarrr</p>
      <a href="{% url 'story9:logout' %}">
          <button class="btn btn-primary active" id="logout">Logout</button>
      </a>
    </section>
  
  {% else %}
    <section id="title" class="text-center section">
      <h3>Login</h3>
    </section>

    <section style = "height: 100vh;"> 
        <div class="login-section">
            <div class="login-form">
                <form method="POST" action="{% url 'story9:login' %}">
                {% csrf_token %}
                {{form.as_table}}  
                <input type="submit" name = "create" value = "login">
                </form>
                <p> kalo mau sign up</p>
                <p> <a href="{% url 'story9:register' %}">disini</a> </p>

            </div>
        </div>
    </section>
{% endif %}
{% endblock content %}
