{% extends 'base_acc.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <section class="text-center section">
        <h3>lohalohaloo {{ user }}</h3>
        <p>mau keluarrr ???</p>
        <a href="{% url 'story9:logout' %}">
            <button class="btn btn-primary active" id="logout">Logout</button>
        </a>
    </section>

{% else %}
    <section id="login" class="text-center section">
        <h3>ehh login duluu</h3>
        <a href="{% url 'story9:login' %}">
            <button class="btn btn-primary active" id="logout">Login</button>
        </a>
    </section>

{% endif %}
{% endblock content %}
