{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="column">
            <section id= contact>
            <div style="margin-top: 0; padding: 0;" class="contact-btn">
                <h7>Contact me</h7>
            </div>

        <a href="https://www.instagram.com/raissathahira/" class="btn btn-outline-warning  active" role="button" style="margin-top:700px; margin-left: 500px; padding: 0; border: none;background: none; outline: none; text-decoration: none !important;" aria-pressed="true"><img src="{% static 'ig.svg' %}"></a>  
        <a href="https://gitlab.com/raissathahira" class="btn btn-outline-warning  active" role="button" style="margin-top:700px; margin-left: 20px; padding: 0; border: none;background: none; outline: none; text-decoration: none !important;" aria-pressed="true"><img src="{% static 'gitlab.svg' %}"></a>  
        <a href="mailto:raissanaila68.94@gmail.com" class="btn btn-outline-warning  active" role="button" style="margin-top:700px; margin-left: 20px; padding: 0; border: none;background: none; outline: none; text-decoration: none !important;" aria-pressed="true"><img src="{% static 'gmail-1.svg' %}"></a>  
        <a href="https://www.instagram.com/raissathahira/" class="btn btn-outline-warning  active" role="button" style=" margin-top:700px; margin-left: 20px; padding: 0; border: none;background: none; outline: none; text-decoration: none !important;" aria-pressed="true"><img src="{% static 'link-2.svg' %}"></a>  
            </section>
    </div>
    </div>

{% endblock %}