{% extends 'base_template.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="column">
    <div class= "uc"><a hresf = "#"><img src="{% static 'under1.svg' %}"></a></div>
  </div>
</div>
{% endblock %}
