
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/story1.css' %}">
    <title>Raissa Naila</title>
</head>
<body>
    <section id="main">
    <nav>
    <!--logo------------------->
    <div class= "logo"><a hresf = "#"><img src="{% static 'image/clown.png' %}"></a></div>
    </nav>
    <!--perkenalan----------->
    <div class="name">
        <h1>Hola ! </h1>
        <p class="details" >My name is Raissa Naila Thahira.
        <br>My student id is 1906400236. I'm a second year Computer Science student at University of Indonesia.</br></p>
    </div>
    </section>  

    <section id="profile">
        <div class="education">
            <h1>EDUCATION</h1>
            <div class="edu-details" >
            <ul>
                <li> SMA Negeri 1 Pontianak ----------- 2016-2019</li>
                <li> Universitas Indonesia---------------2019-Present</li>
            </ul>
            </div>
        </div>
        <div class="interest">
            <h1>INTEREST</h1>
            <div class="int-details" >
            <ul>
                <li>Sleeping</li>
                <li>Debate on my own</li>
                <li>Doings things 24/7</li>
            </ul>
            </div>
        </div>
    </section>


</body>
</html>
